.banner {
    height: 35vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.banner .banner__content {
    z-index: 1;
    position: relative;
    background-color: rgba(255, 255, 255, .8);
    width: 320px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, .8);
}

.banner .banner__image {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 0;
    background-image: url(../assets/img/neom-unsplash-small.jpg);
}

@media (768px < width) {
  .banner .banner__image {
    background-image: url(../assets/img/neom-unsplash-med.jpg);
    
  }
}

@media (144px < width) {
  .banner .banner__image {
    background-image: url(../assets/img/neom-unsplash-4k.jpg);
  }
}

.banner__content .title {
    text-align: center;
}
.title-word {
    animation: color-animation 3s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }

  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }