:root {
    --main-text-color: rgb(255, 255, 255);
    --main-bg-color: linear-gradient(90deg, rgba(90,30,168,1) 0%, rgba(15,255,224,1) 50%, rgba(90,30,168,1) 100%);   
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.main-bg {
    color: var(--main-text-color);
    background: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

* {
    box-sizing: border-box;
}
