:root {
    --main-text-color: rgb(255, 255, 255);
    --main-bg-color: rgb(15, 36, 87);   
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.main-bg {
    color: var(--main-text-color);
    background: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

main {
    padding: 0px 10px 0px 10px;
}

.btn {
    
}