.footer {
    font-style: italic;
    background-color: var(--main-bg-color);
    text-shadow: 2px 2px 5px rgb(52, 3, 80);
    background: radial-gradient(circle, rgba(229,9,20,1) 0%, #0e1b4f 70%, #000413 100%);
}

.footer .footer__social {
    display: flex;
    justify-content: center;
}
.footer .footer__social .footer__social__list {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

@media (48em <= width) {
    .footer {
        background: radial-gradient( 51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100% );
    }
}