.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact .form .form__element {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 5px
}

.radio {
    margin-left: 5px;
}

.form__element .form__radio--label {    
    font-style: italic;
}

.form__element .form__radio--container div{
    margin-left: 20px ;
    margin-bottom: 10px;

}

@media (768px < width) {
    .contact .form .flex__container {
        display: flex;
        justify-content: space-around;
        gap: 15px;     
    }
    .flex__container .flex__column__1 {
        flex-grow: 1;
    }
    .flex__container .flex__column__2 {
        flex-grow: 1;
    }
    .form__buttons {
        align-self: flex-end;
    }
}