.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact .form .form__element {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 5px
}

.radio {
    margin-left: 5px;
}

.form__element .form__radio--label {    
    font-style: italic;
}

.form__element .form__radio--container div{
    margin-left: 20px ;
    margin-bottom: 10px;

}