.header {
   position: sticky;
   background-color: rgb(0,0,0,0.8);
   z-index: 999;
   top: 0;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-self: center;
}

.header__image {
   width: 120px;
   display: flex;
   align-items: start;
}

.header__image img {
   border-radius: 5px;
   width: 75px;
}

.header .header__nav .header__nav__list {
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

.header__nav .header__nav__list .header__nav__list__item a {
   text-decoration: none;
}

.hidden-xs {
   display: none;
}

@media (768px <= width) {
  .header .header__image {
    width: 200px;
 }
}