.header {
   position: sticky;
   background: linear-gradient(45deg, rgba(229,9,20,1) 0%, #0e1b4f 70%, #000413 100%);
   z-index: 999;
   top: 0;
   padding: 10px;
}

.header .header__items {
   display: flex;
   justify-content: space-between;
}

.header__image img {
   border-radius: 5px;
   width: 75px;
}

.header .header__nav .header__nav__list {
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__nav .header__nav__list .header__nav__list__item a {
   text-decoration: none;
}

.hidden-xs {
   display: none;
}

@media (768px <= width) {
   .header .header__image {
      width: 200px;
   }
   .hidden-xs {
      display: inherit;
   }
}