.header {
   position: sticky;
   height: 75px;
   background: linear-gradient(45deg, var(--secondary-color) 0%, #0e1b4f 70%, #000413 100%);
   z-index: 999;
   top: 0;
   padding: 10px 0px;
   opacity: 0.9;

}

.header .header__items {
   display: flex;
   align-items: center;
   padding: 0 20px;
}

.header__image img {
   border-radius: 5px;
   width: 75px;
}

.header .header__items ul {
  margin: 0;
  padding: 0;
}

/* hamburger menu */

#toggle {
  display: none;
}

.hamburger {
  position: absolute;
  top: 3.6em;
  right: 40px;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 5;
}

.hamburger div {
  position: relative;
  width: 3em;
  height: 7px;
  border-radius: 3px;
  background-color: white;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

/* Nav Styles */

.header__nav {
  position: fixed;
  width: 100%;
  height: 110%;
  background-color: #090E6B;
  top: -100%; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}

.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}

nav {
  display: flex;
  justify-content: center;
  text-align: left;
}

nav a {
  position: relative;
  color: var(--main-text-color);
  font-size: 1.5em;
  display: inline-block;
  margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 2px;
}

nav a::before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.20em;
  background-color: white;
  left: -0.3em;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: rgb(112, 112, 112);
}

nav a:hover:before {
  height: 100%;
}

/* Animations */

#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}

#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}

#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
}

#toggle:checked + .hamburger + .header__nav {
  top: 0;
  transform: scale(1);
}

/* Responsive */

@media (768px < width) {
  .header .header__nav .header__nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: smaller;
    gap: 20px;
  }
  .header .header__image {
      width: 200px;
  }
  .header__nav {
    position: inherit;
    transform: scale(1);
    transition: none;
    background-color: transparent;
    height: 100%;    
  }
  .header__nav nav {
    justify-content: end;
    height: 55px;
  } 
  .header__nav nav a {
    margin-top: 0;
    font-size: 1.2em;
  }
  .header .hidden {
    display: none;
  }  

} 
