
.video {
    text-align: center;
    animation: fade-in 3s linear;

}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects div {
    padding: 20px 30px;
    border-style: groove;
}
@keyframes fade-in {
    0% {
        opacity: .1;
    }
    100% {
        opacity: 1;        
    }
}