
.video {
    text-align: center;
    animation: fade-in 3s linear;

}

.projects__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.projects div {
    padding: 20px 20px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;        
    }
}