
.video {
    text-align: center;
    animation: fade-in 3s linear;

}

.projects__container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 2fr);    
    text-align: center;
    gap: 20px;
}

.projects .projects__container figure {
    margin: 0;
    border-radius: 5px;
}

.projects .projects__container figcaption {
    text-shadow: 4px 4px 8px rgb(0, 0, 0);
}

.projects .projects__container img {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;        
    }
}