.skills__item__container {
    background: white;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    height: 20px;
    opacity: 0.9;
}

.skills__list {
    padding-left: 0px;
}

.skills__item__title {
    margin-bottom: 5px;
}

.skills__item__bar {
    border-radius: 20px;
    height: 14px;
    background: var(--secondary-color);
    animation: bar-animation 5s ease infinite alternate;
}


#html--bar {    
    max-width: 40%;    
}

#javascript--bar {
    max-width: 60%;   
}

#python--bar {
    max-width: 75%;
}

#java--bar {
    max-width: 30%;
}

#kubernetes--bar {
    max-width: 70%;
}

#cocina--bar {
    max-width: 100%;
}

@keyframes bar-animation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@media (1080px < width) {
    .skills__list {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);

        text-align: center;
        gap: 20px;
    }
}

@media (1440px < width) {
    .skills__list {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);

        text-align: center;
        gap: 20px;
    }
}